@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    position: relative;
    font-family: 'Raleway', sans-serif;

}
#header{
    min-height: 100vh;
    
}

#myVideo {
    
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    
}
.myVideo:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(51,44,85,.4);
  }

.myVideo:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    border: 1px solid rgba(255,255,255,0.3);
}
/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.card{
    width: 18rem;
    
    display: inline-block;
}
h1{
    font-size: 5em;
}
h2{
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 3em;
}
@media (max-width:500px) {
    h1{
        font-size: 3em;
    } 
    #header{
        min-height: max-content;
        
    }
    h2{
        margin-bottom: 1em;
    }
    .card{
        width: 20rem;
        padding: 1em;
    }
}
section{
    min-height: 80vh;
    padding-top: 3em;
}
#answer{
    min-height: 70vh;
}
#services h3{
    font-size: 1.4em;
}
#otzivi{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/otz.jpeg");
    background-attachment: fixed;
    /* display: flex;
    align-items: center; */
}
#v-mesac{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/vm.jpeg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sect1,.sect2,.sect3,.sect4,.sect5{
    opacity: 0;
    margin-top: 7rem;
    transition-delay: .5s;
}
.element-new{
    opacity: 0.9; 
    margin-top: 1rem;
    transition: .5s linear .5s;  
}